[submodule "full-node"]
	path = full-node
	url = git@github.com:Project-Magma-Monorepo/sui-full-node-docker.git
	branch = main
[submodule "supabase"]
	path = supabase
	url = git@github.com:Project-Magma-Monorepo/supabase.git
	branch = main
[submodule "sui-sender-indexer"]
	path = sui-sender-indexer
	url = git@github.com:Project-Magma-Monorepo/sui-sender-indexer.git
	branch = blob-indexing
[submodule "lava"]
	path = lava
	url = git@github.com:Project-Magma-Monorepo/lava.git
	branch = main
[submodule "sui-indexer-minimal"]
	path = sui-indexer-minimal
	url = git@github.com:Project-Magma-Monorepo/sui-indexer-minimal.git
	branch = main
[submodule "sui-indexer-full"]
	path = sui-indexer-full
	url = git@github.com:Project-Magma-Monorepo/sui-indexer-full.git
	branch = main
[submodule "sui"]
	path = sui
	url = git@github.com:Project-Magma-Monorepo/sui.git
[submodule "sui_indexer_checkpointTx"]
	path = sui_indexer_checkpointTx
	url = git@github.com:alexandre-mrt/sui_indexer_checkpointTx.git
